body
{
    color:rgb(231, 165, 32);
    background-color:rgb(60, 121, 104);
}  
.heading
{
    width:40%;
    font-size:40px;
    background-color:rgb(231, 165, 32);
    color:rgb(60, 121, 104);
    border-radius:10px;
} 
.nameOfObjects, #resultObjectName, #resultObjectAccuracy
{
    font-size:25px;
}
#camera
{
    border:3px dashed rgb(231, 165, 32);
    width:350px;
    height:300;
}